<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务卡登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/vue2.6.10.js"></script>
    <style>
        li {
            position: relative;
        }

        label {
            position: absolute;
            top: -2.6rem
        }

        label#captcha {
            top: -1.4rem
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .gray {
            color: gray;
        }
    </style>
</head>

<body>
    <div id='app'>
        <ul class="header">
            <li>
                <span>1</span>
                <a>服务卡登录</a>
            </li>
            <li>
                <span>2</span>
                <a>查看服务卡信息</a>
            </li>
        </ul>
        <!-- 激活输入框 -->
        <ul class="atts">
            <li><label :class="username_.color">{{username_.coutent}}</label>
                <input type="text" v-model="username" name='username' placeholder="卡号" @blur="test($event)">
            </li>
            <li>
                <label :class="password_.color">{{password_.coutent}}</label>
                <input :type="password_input_type" v-model="password" name='password' placeholder="密码/身份证号"
                    @blur="test($event)">
                <div class="img">
                    <img :src="eye_src" @click="change_password_eye">
                </div>
            </li>
            <li>
                <label id="captcha" :class="captcha_key_.color">{{captcha_key_.coutent}}</label>
                <input type="text" v-model="captcha_key" name='captcha_key' placeholder="验证码" @blur="test($event)">
                <div class="img">
                    <img :src="captcha_img" @click="get_captcha_img">
                </div>
            </li>
            <button @click="submit">下一步</button>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                username: "",
                password: "",
                password_input_type: "password",
                eye_src: "/img/闭眼.svg",
                captcha_key: "",
                captcha_token: "",
                captcha_img: "/img/loading.jpg",
                username_: { coutent: "必填", color: "gray", missable: false },
                password_: { coutent: "必填", color: "gray", missable: false },
                captcha_key_: { coutent: "必填", color: "gray", missable: false }
            },
            methods: {
                get_captcha_img() {
                    axios.get('http://127.0.0.1:8080/auth/captcha')
                        .then(res => {
                            Object.assign(this.$data, res.data)
                        }).catch(err => {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: err.response.data.detail,
                                footer: "点击验证码尝试重新获取",
                                showConfirmButton: false,
                                timer: 1500
                            })
                        })
                },
                change_password_eye() {
                    if (this.password_input_type !== 'password') {
                        this.password_input_type = 'password'
                        this.eye_src = "/img/闭眼.svg"
                    } else {
                        this.password_input_type = 'text'
                        this.eye_src = "/img/睁眼.svg"
                    }
                },
                test(e) {
                    if (this.$data[e.target.name] === '') {
                        if (!this.$data[`${e.target.name}_`].missable) {
                            this.$data[`${e.target.name}_`].color = "red"
                            this.$data[`${e.target.name}_`].coutent = "必填"
                        }
                        return
                    }
                    switch (e.target.name) {
                        case 'username':
                            axios.get(`http://127.0.0.1:8080/card/${this.username}`)
                                .then(res => {
                                    if (!res.data) {
                                        this.username_.color = "red"
                                        this.username_.coutent = "此卡号不存在"
                                    } else {
                                        this.username_.color = "green"
                                        this.username_.coutent = "✔"
                                    }
                                }).catch(err => {
                                    this.username_.color = "red"
                                    this.username_.coutent = err.response.data.detail
                                })
                            break
                        case 'password':
                            if (this.password.length < 5) {
                                this.password_.color = "red"
                                this.password_.coutent = "密码过短"
                            } else {
                                this.password_.color = "green"
                                this.password_.coutent = "✔"
                            }
                        case "captcha_key":
                            if (this.captcha_key.length !== 4) {
                                this.captcha_key_.color = "red"
                                this.captcha_key_.coutent = "验证码是四位"
                            } else if (this.captcha_key.match(/^[A-Za-z0-9]{4}$/g) === null) {
                                this.captcha_key_.color = "red"
                                this.captcha_key_.coutent = "验证码只能是数字或者字母"
                            }
                            else {
                                this.captcha_key_.color = "green"
                                this.captcha_key_.coutent = "✔"
                            }
                        //default:
                    }
                },
                submit() {
                    if ([this.username_, this.password_, this.captcha_key_].every(v => v.coutent === "✔")) {
                        let data = new URLSearchParams()
                        data.append("username", this.username)
                        data.append("password", this.password)
                        data.append("captcha_token", this.captcha_token)
                        data.append("captcha_key", this.captcha_key)
                        axios.post(`http://127.0.0.1:8080/auth/signin_allow_bindid`, data)
                            .then(res => {
                                let { access_token } = res.data
                                localStorage.setItem('access_token', access_token)
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: '卡验证成功',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    location.pathname = 'insureinfo.html'
                                })
                            }).catch(err => {
                                if (err.response.data.detail === "卡号或者密码错误" || err.response.data.detail === "未激活的卡无法使用证件号登入") {
                                    this.password = ''
                                    Object.assign(this.$data.password_, { coutent: "必填", color: "gray", missable: false })
                                }

                                Swal.fire({
                                    position: 'center',
                                    icon: 'warning',
                                    title: err.response.data.detail,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {
                                    this.captcha_key = ''
                                    Object.assign(this.$data.captcha_key_, { coutent: "必填", color: "gray", missable: false })
                                    this.get_captcha_img()
                                })
                            })
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: '存在不合要求的填写项',
                            footer: "请检查是否有遗漏的必填项和已填项的格式是否正确",
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }

                }
            },
            created() {
                this.get_captcha_img()
            }
        })
    </script>
</body>

</html>