<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务条款</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/tos.css">
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/vue2.6.10.js"></script>
</head>

<body>
    <div id='app'>
        <ul class="header">
            <li>
                <span>1</span>
                <a>卡号密码</a>
            </li>
            <li>
                <span>2</span>
                <a>阅读条款</a>
            </li>
            <li>
                <span>3</span>
                <a>信息填写</a>
            </li>
            <li>
                <span>4</span>
                <a>完成激活</a>
            </li>
        </ul>
        <!-- 条款列表 -->
        <div class="clauselist">
            <!-- 第1行 -->
            <div class="list1">畅行无忧B卡<a>面值<span>200.00</span> 元</a></div>
            <!-- 第2行 -->
            <div class="list2">注意 : 18-70岁限激活2份,1-17岁限激活0份</div>
            <!-- 第3行 -->
            <div class="list3">保额信息</div>
            <!-- 第4行 -->
            <div class="list4">交通意外身故、伤残最高保险金额<span>20000.00</span> 元</a></div>
            <!-- 第5行 -->
            <div class="list5">交通意外医疗最高保险金额<span>2000.00</span> 元</div>
            <!-- 第6行 -->
            <div class="list6">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;激活阅读条款</h3>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;畅行无忧B卡 <span>采用</span>《国寿通泰交通意外伤害保险
                    (A款)( 2013版)利益条款》、《国寿附加通泰交
                    通意外费用补偿医疗保险利益条款》、《中国人寿
                    保险股份有限公司短期保险基本条款》<span>和特别约定条款。</span>
                </p>
                <h6>投保范围:</h6>
                <a>凡年龄在18周岁至70 周岁的身体健康者，均可以作为被保险人、投保人(激活人)与被保险人需同一人。</a>
            </div>
            <!-- 第7行 -->
            <div class="list7">保险条款</div>
            <!-- 第8行 -->
            <div class="list8">
                <input type="checkbox" v-model='checklist[0]'>
                <a href="#">中国人寿保险股份有限公司短期保险基本条款</a>
            </div>
            <!-- 第9行 -->
            <div class="list9">
                <input type="checkbox" v-model='checklist[1]'>
                <a href="#">国寿通泰交通意外伤害保险( A款) ( 2013版)利益条款</a>
            </div>
            <!-- 第10行 -->
            <div class="list10">
                <input type="checkbox" v-model='checklist[2]'>
                <a href="#">国寿附加通泰交通意外费用补偿医疗保险利益条款</a>
            </div>
            <!-- 第11行 -->
            <div class="list11">
                <input type="checkbox" v-model='selectAll'>
                <a href="#">阅读全部保险条款</a>
            </div>
            <!-- 第12行 -->
            <div class="list12">
                <h6>声明与授权:</h6>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;投保人本人已阅读本服务卡内容和条款内容，
                    贵公司已对条款内容履行了说明义务，并对责任免除条款
                    、特别约定条款、职业除外条款履行了明确说明义务，
                    本人同意接受并遵守上述内容，自愿投保。
                    本人谨此授权凡知道或拥有任何有关本人健康及其它情况的任何医生、
                    医院、保险公司、其他机构人士，均可将有关资料提供给贵公司。
                </p>
                <button class="readbtn" @click="readok">我已阅读并同意上述产品内容及相关条款</button>
                <button class="signout" @click="signout">安全退出</button>
            </div>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                checklist: [false, false, false]
            },
            computed: {
                selectAll: {
                    get() {
                        return this.checklist.every(v => v)
                    },
                    set(v) {
                        this.checklist.splice(0, 3, v, v, v)
                    }
                }
            },
            methods: {
                readok() {
                    if (this.selectAll) {
                        location.pathname = 'iftenter.html'
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'warning',
                            title: '请确认条款阅读完毕',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                signout() {
                    Swal.fire({
                        position: 'center',
                        title: '确认要退出登录吗',
                        showCancelButton: true,
                        confirmButtonText: '确定',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: '退出完成',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                localStorage.clear()
                                location.pathname = '/'
                            })
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>