@font-face {
  font-family:Emoji;
  src:local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range:U+1F000-1F644, U+203C-3299;
}
body{font-size:14px;color:#606266; font-family:system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif}
.fit{width:fit-content}
.auto{margin:auto}
.shadow:hover {box-shadow:0 0 20px 1px #ebebeb}
#main{border:1pt solid #eaeefb;padding:24px;transform:translateY(2vh);}
ul {padding:0;list-style:none}
ul#list span{display:table-cell;padding:12px 10px;border-bottom:1px solid #ebeef5;text-align:center}
ul#list .th, .page{font-weight:bold}
ul#list img,#prev img,#next img{width:15px;vertical-align:middle}
ul#list li {display:table-row;line-height:2;transition:.25s ease}
ul#list li:hover {background-color:#f5f7fa}
ul#list {display:table;width:70vw;margin:auto}
ul#page {display:flex;height:50px;line-height:28px;align-items:flex-end;justify-content:space-between}
ul#page li {background-color:#f4f4f5;margin:0 4px;min-width:30px;height:28px;text-align:center}
a,ul#page li:hover{color:#409eff}
ul#page li.page#theone{background-color:#409eff; color:#ebebeb}
ul#page li.page#theone:hover{color:#ebebeb}
.allnum, .page{font-size:12px}
.allnum{margin:3px auto;color:#777}
ul#page li,
.radius{border-radius:5px}
ul#page li.tra{color:#bbb}
ul#page li.tra,
ul#page>#ld,
ul#page>#rd {background-color:#00000002}
#pagenum, #pageto{height:28px;outline:none;border:1px solid #ddd;padding:0}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance:none
}
#btnlist span{display:inline-block;width:74px;height:34px;text-align:center;line-height:34px}
#b{background-color:#e8f4ff;color:#1890ff;border:1px solid #1890ff}
#g{background-color:#e7faf0;color:#13ce66;border:1px solid #13ce66}
#r{background-color:#ffeded;color:#ff4949;border:1px solid #ff4949}
#mark{background-color:#00000052;position:fixed;inset:0;}
#markform{padding:36px;position:fixed;z-index:2147;width:250px;height:180px;inset:0;background-color:#fff}
#markform li{height:40px;}
#markform input[type="text"]{height:28px;float:right;}
#markform label{line-height:34px;}
#subm{color:#fff;width:180px;height:36px;display:inline-block;margin:30px auto;background-color:#409eff;border:none;border-radius:2px}