
/*文字颜色*/

.c93232 {
    color: #c93232;
}


/*边距*/

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}


/*文字大小*/

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}


/*版心*/

.content {
    width: 1200px;
    margin: 0 auto;
}

.swiper-pagination {
    width: 100%;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    margin-right: 10px;
    margin-top: 30px;
}

input {
    outline: none;
}


/* 头部 */

header .search {
    width: 980px;
    height: 36px;
    border-bottom: 1px solid #f39718;
    margin-bottom: 10px;
}

header .search ul {
    line-height: 36px;
}

header .search ul li {
    font-family: SimSun;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
}

header .search ul li:last-child {
    width: 50%;
    display: flex;
}

header .search ul li .bg {
    background-color: #f39718;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0px;
    right: 14px;
    border: 1px solid #f39718;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

header .search ul li .bg img {
    position: absolute;
    top: 7px;
    right: 7px;
}

header .search ul li:last-child {
    position: relative;
}

header .search ul li:last-child input {
    width: 165px;
    height: 27px;
    outline: none;
    text-indent: 2px;
    margin-left: 10px;
    line-height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

header .logo {
    margin-bottom: 38px;
}

header .search ul,
header .logo ul {
    display: flex;
}

header .logo ul {
    justify-content: space-between;
}

header .logo ul li {
    display: flex;
}

header .logo ul li p:last-child {
    text-align: center;
    line-height: 41px;
    padding-left: 10px;
}

header .logo ul li:first-child p img {
    vertical-align: center;
}

header .logo ul li:last-child p:first-child {
    text-align: center;
    line-height: 41px;
}

header .search ul li:first-child {
    width: 50%;
}

header .logo {
    width: 977px;
    height: 41px;
}

header .logo .goodeat {
    width: 110px;
    height: 22px;
    font-family: SimSun;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #aa6627;
}

.phone {
    width: 133px;
    height: 12px;
    font-family: SimSun;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #d68b23;
}


/* 导航栏 */

header .nav {
    width: 958px;
    height: 78px;
}

header .nav ul {
    display: flex;
    justify-content: space-between;
}

header .nav ul li {
    width: 80px;
    font-family: SimSun;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 77px;
    letter-spacing: 0px;
    color: #f39718;
    text-align: center;
}

header .nav ul li a:hover {
    color: #f39718;
}

header .nav ul li:hover {
    border-bottom: 5px solid #f39718;
}


/* 轮播图 */

.slider {
    margin-top: 10px;
}

.slider .swiper-container .swiper-wrapper img {
    width: 100%;
}


/* 底部 */

.footer {
    width: 100%;
    height: 155px;
    background-color: #f39718;
}

.footer .ft-text p {
    width: 100%;
    height: 155px;
}

.footer .ft-text p {
    font-family: SimSun;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #f5f5f5;
    width: 590px;
    height: 110px;
    margin: 0px 660px;
    text-align: center;
    padding-top: 20px;
}