body{
    background-color: #efeff4;
    height: 100vh;
}
/* 头部 */
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    padding:  4%;
}
.header li span{
    border-radius: 50%;
    background-color: #999999;
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    margin-right: 0.3rem;
    color: #fff;
    line-height: 2.6rem;
    font-size: 1.7rem;
}
.header li a{
    font-size: 1.7rem;
    color: #000;
}
.header li:nth-child(3) span{
    background-color: #1bac05;
}

/* 第1行 */
.clauselist .list1{
    padding:  4%;
    font-size: 2rem;
    color: #000;
    background-color: #f7f7f7;
}
/* 第2行 */
.clauselist .list2{
    padding:  4%;
    font-size: 2rem;
    background-color: #ededed;
    color: #000;
    border-bottom: 1px solid #fff;
}
/* 第3行 */
/* 投保人信息 / 被保人信息 */
.clauselist .list3{
    padding: 4%;
    background-color: #efeff4;
}
.clauselist .list3 .enter1 .altinfo{
    border-bottom: 2px solid #1bac05;
    padding: 3% 6%;
    font-size: 2rem;
    color: #010101;
}
.clauselist .list3 .enter1 .infolist{
    margin-top: 8%;
    padding: 0 3%;
}
.clauselist .list3 .enter1 .infolist li{
    margin-bottom: 6%;
    font-size: 2rem;
    color: #010101;
}
/* input框 */
.clauselist .list3 .enter1 .infolist li label{
    display: inline-block;
    width: 35%;
}
.clauselist .list3 .enter1 .infolist li .ipt{
    height: 4rem;
    width: 59%;
    padding-left: 3%;
}
.clauselist .list3 .enter1 .infolist li a{
    display: inline-block;
    margin: 0 4% 0 2%;
    color: #010101;
}

.clauselist .list3 .enter1 .infolist select{
    height: 4rem;
    width: 50%;
    outline: none;
    padding-left: 3%;
    appearance:none;
}
/* 受益人信息 */
.clauselist .list3 .person .altinfo{
    border-bottom: 2px solid #1bac05;
    padding: 3% 6%;
    font-size: 2rem;
    color: #010101;
}
.clauselist .list3 .texts{
    text-align: center;
}
.clauselist .list3 .texts p{
    font-size: 2rem;
    color: #010101;
    margin-top: 8%;
}






/* 按钮 */
.clauselist .list3 button{
    width: 100%;
    font-size: 2rem;
    margin-top: 5%;
}
.clauselist .list3 .readbtn{
    height: 6rem;
    border: 1px solid #1bac05;
    background-color: #1bac05;
    color: #fff;
    border-radius: 5px;
}
.clauselist .list3 .signout{
    height: 6rem;
    border: 1px solid #9da09d;
    background-color: #9da09d;
    color: #fff;
    border-radius: 5px;
}

