body{
    background-color: #efeff4;;
    height: 100vh;
}
/* 头部 */
.header{
    padding: 4% 6%;
    border-bottom: 1px solid #c6c6c6;
    font-size: 2rem;
    color: #000;
}
/* 理赔列表 */
.cardlists .cardnum{
    padding: 4% 6%;
    font-size: 2rem;
    color: #000;
    background-color: #f7f7f7;
}
.cardlists .crdlist{
    padding: 4% 6%;
    font-size: 2rem;
    color: #000;
    border-bottom: 1px solid #f7f7f7;
}
.cardlists button{
    margin: 5% 6% 0 6%;
    width: 88%;
    font-size: 2rem;
}
.cardlists .seeifmt{
    height: 6rem;
    border: 1px solid #1bac05;
    background-color: #1bac05;
    color: #fff;
    border-radius: 5px;
}
.cardlists .safeout{
    height: 6rem;
    border: 1px solid #9da09d;
    background-color: #9da09d;
    color: #fff;
    border-radius: 5px;
}