body{
    background-color: #efeff4;
    height: 100vh;
}
/* 头部 */
.header{
    padding: 4%;
    border-bottom: 1px solid #c6c6c6;
    font-size: 2rem;
    color: #000;
}
/* 条款列表 */
/* 第1行 */
.clauselist .list1{
    padding:  4%;
    font-size: 2.5rem;
    background-color: #f7f7f7;
    color: #000;
}
.clauselist .list1 a{
    font-size: 2rem;
    color: #000;
    margin-left: 10%;
}
.clauselist .list1 a span{
    font-size: 2.3rem;
    color: #f9b508;
}
/* 第2行 */
.clauselist .list2{
    padding:  4%;
    font-size: 2rem;
    color: #000;
    background-color: #ededed;
}
/* 第3行 */
.clauselist .list3{
    padding:  4%;
    font-size: 2rem;
    background-color: #f7f7f7;
    color: #000;
}
/* 第4行 */
.clauselist .list4{
    padding:  4%;
    font-size: 2rem;
    background-color: #ededed;
    color: #000;
}
/* 第5行 */
.clauselist .list5{
    padding:  4%;
    font-size: 2rem;
    background-color: #f7f7f7;
    color: #000;
}
/* 第6行 */
.clauselist .list6{
    padding:  4%;
    font-size: 2rem;
    background-color: #ededed;
    color: #000;
}
.clauselist .list6  span{
    font-size: 2.3rem;
    color: #f9b508;
    margin-left: 7%;
}
/* 第7行 */
.clauselist .list7{
    padding:  4%;
    font-size: 2rem;
    background-color: #f7f7f7;
    color: #000;
}
.clauselist .list7  span{
    font-size: 2.3rem;
    color: #f9b508;
    margin-left: 7%;
}
/* 第8行 */
.clauselist .list8{
    padding: 6%;
    background-color: #efeff4;
}
.clauselist .list8 .plyhld{
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}
.clauselist .list8 .plyhld li{
    background-color: #fff;
    border-radius: 7px;
    font-size: 2rem;
    padding: 2% 4%;
    color: #1bac05;
    box-shadow:2px 2px 2px #ccc;
}
.clauselist .list8 .plyhld .cuer{
    background-color: #1bac05;
    color: #fff;
}
.clauselist .list8 .lists{
    margin-top: 6%;
}
.clauselist .list8 .lists li{
    margin-bottom: 8%;
    font-size: 2rem;
}
.clauselist .list8 .lists li span{
    width: 35%;
    display: inline-block;
}
.clauselist .list8 button{
    width: 100%;
    font-size: 2rem;
    margin-top: 5%;
}
.clauselist .list8 .readbtn{
    height: 6rem;
    border: 1px solid #1bac05;
    background-color: #1bac05;
    color: #fff;
    border-radius: 5px;
}
.clauselist .list8 .signout{
    height: 6rem;
    border: 1px solid #9da09d;
    background-color: #9da09d;
    color: #fff;
    border-radius: 5px;
}